@model Hospital.ViewModels.HospitalInfoViewModel

<h2>@Model.Name</h2>

<ul>
    <li><strong>Type:</strong> @Model.Type</li>
    <li><strong>City:</strong> @Model.City</li>
    <li><strong>Pin Code:</strong> @Model.PinCode</li>
    <li><strong>Country:</strong> @Model.Country</li>
</ul>
