@model Hospital.ViewModels.ApplicationUserViewModel

@{
    ViewData["Title"] = "Patient Details";
}

<div class="container mt-5">
    <h2 class="text-info">Patient Details</h2>
    <dl class="row">
         <dt class="col-sm-3">Name</dt>
        <dd class="col-sm-9">@Model.Name</dd>

        <dt class="col-sm-3">ID</dt>
        <dd class="col-sm-9">@Model.Id</dd>

        <dt class="col-sm-3">Email</dt>
        <dd class="col-sm-9">@Model.Email</dd>

        <dt class="col-sm-3">User Name</dt>
        <dd class="col-sm-9">@Model.UserName</dd>

        <dt class="col-sm-3">Address</dt>
        <dd class="col-sm-9">@Model.Address</dd>

        <dt class="col-sm-3">Gender</dt>
        <dd class="col-sm-9">@Model.Gender</dd>

        <dt class="col-sm-3">DOB</dt>
        <dd class="col-sm-9">@Model.DOB</dd>


    </dl>

    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back</a>
</div>
